# Install Applications and Toolkits

##### REQUIRED 
[Anaconda 3 (Python 3)](https://www.anaconda.com/download/) - This installs Python and many needed libraries on your computer in a ready to go manner **NOTE** Uninstall Anaconda 2 if you have it installed.

Make sure you have all of the following programs installed.

**NOTE** Uninstall Anaconda 2 if you have it installed.

##### For Mac Computers
- XCode Command Line Tools (Mac Only). In the `terminal` Copy and paste: `xcode-select --install` ( This installs necessary compilers for Python to work some magic under the hood.)
- [Homebrew (Mac Only)](http://brew.sh/) - This provides an easy method of installing (typically complicated) applications.
- [iTerm2 (Mac Only)](https://www.iterm2.com/) - This is a nicer Terminal to use instead of what comes default with Mac.

##### For Windows
- [Git (Windows Only)](https://git-scm.com/downloads) - This installs Git along with a terminal and bash tools. 

##### Optional, but highly recommended
- [VS Code](https://code.visualstudio.com/) - This is a useful Text Editor that allows you to edit code. We will use this seldomly.
- [Sublime Text 3](https://www.sublimetext.com/3) - This is another useful Text Editor that allows you to edit code. We will use this seldomly.

### Install Extra Packages
Run this in your terminal:

Run this in your terminal:    

`pip3 install jupyter scipy arrow seaborn ujson keras statsmodels`

### Check Package Versions

In [2]:
import numpy
import scipy
import matplotlib
import pandas
import statsmodels
import seaborn
import sklearn

print("numpy:", numpy.__version__)
print("scipy:", scipy.__version__)
print("matplotlib:", matplotlib.__version__)
print("statsmodels:", statsmodels.__version__)
print("pandas:", pandas.__version__)
print("seaborn:", seaborn.__version__)
print("sklearn:", sklearn.__version__)

numpy: 1.16.2
scipy: 1.1.0
matplotlib: 3.0.2
statsmodels: 0.9.0
pandas: 0.23.4
seaborn: 0.9.0
sklearn: 0.20.2

# The following are just code examples with no context

In [9]:
5*6
2+2

4

In [11]:
print(2+2)
2+3
6*7

4

42

In [12]:
annual = 50000

In [13]:
40*52

2080

In [14]:
annual/(40*52)

24.03846153846154

In [15]:
annual=60000

In [16]:
annual/(40*52)

28.846153846153847

In [23]:
def hourly(annualwage):
    hourlywage = annualwage/(40*52)
    
    
    return hourlywage

In [25]:
hourly(60000)

28.846153846153847

In [26]:
my_hourly_wage = hourly(17000)

In [27]:
my_hourly_wage

8.173076923076923

In [29]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [31]:
my_annual_salaries = [0,1,2,3,4,5,6,7,8,9]

In [33]:
[1,2,3]/5

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [36]:
hourly_wages = []
for salary in my_annual_salaries:
    hourly_wages.append( hourly(salary) )

In [37]:
hourly_wages

[0.0,
 0.0004807692307692308,
 0.0009615384615384616,
 0.0014423076923076924,
 0.0019230769230769232,
 0.002403846153846154,
 0.0028846153846153848,
 0.0033653846153846156,
 0.0038461538461538464,
 0.004326923076923077]

In [14]:
annual/(40*52)

24.03846153846154

In [49]:
def is_roth_eligible(annual_wage):
    return annual_wage < 130000

In [45]:
def is_roth_eligible(annual_wage):
    if annual_wage < 130000:
        return True
    else:
        return False

In [48]:
200000 < 130000

False

In [50]:
is_roth_eligible(100000)

True

In [46]:
is_roth_eligible(200000)

False

In [32]:
hourly(my_annual_salaries)

TypeError: unsupported operand type(s) for /: 'list' and 'int'

In [51]:
import numpy

In [53]:
hourly_wages = numpy.array([1,2,3])

In [54]:
hourly_wages/60

array([0.01666667, 0.03333333, 0.05      ])

In [55]:
numpy.abs([-1,2,3])

array([1, 2, 3])

In [ ]:
numpy.abs(numpy.array([-1,2,3]))

In [56]:
numpy.sum([-1,2,3])

4

In [ ]:
for i in range(1000):
    print(i)

## Here you can type text $y = x$