In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
plt.rcParams['figure.figsize'] = (20, 6)
plt.rcParams['font.size'] = 14
import pandas as pd

In [2]:
df = pd.read_csv('../data/adult.data', index_col=False)

In [6]:
golden = pd.read_csv('../data/adult.test', index_col=False)

In [7]:
golden.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,25,Private,226802,11th,7,Never-married,Machine-op-inspct,Own-child,Black,Male,0,0,40,United-States,<=50K.
1,38,Private,89814,HS-grad,9,Married-civ-spouse,Farming-fishing,Husband,White,Male,0,0,50,United-States,<=50K.
2,28,Local-gov,336951,Assoc-acdm,12,Married-civ-spouse,Protective-serv,Husband,White,Male,0,0,40,United-States,>50K.
3,44,Private,160323,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,Black,Male,7688,0,40,United-States,>50K.
4,18,?,103497,Some-college,10,Never-married,?,Own-child,White,Female,0,0,30,United-States,<=50K.

In [8]:
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [11]:
df.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country',
       'salary'],
      dtype='object')

In [12]:
from sklearn import preprocessing

In [13]:
enc = preprocessing.OrdinalEncoder()

In [14]:
transform_columns = ['workclass', 'education', 'marital-status', 
                     'occupation', 'relationship', 'race', 'sex', 
                     'native-country']

In [15]:
pd.get_dummies(df[transform_columns]).head()

,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,education_ 10th,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
1,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
x = df.copy()

x = pd.concat([x.drop(transform_columns, axis=1), 
               pd.get_dummies(df[transform_columns])], axis=1,)

x["salary"] = enc.fit_transform(df[["salary"]])

In [60]:
xt = golden.copy()

xt = pd.concat([xt.drop(transform_columns, axis=1), 
               pd.get_dummies(golden[transform_columns])], axis=1,)

xt["salary"] = enc.fit_transform(golden[["salary"]])

In [61]:
xt.salary.value_counts()

0.0    12435
1.0     3846
Name: salary, dtype: int64

In [55]:
enc.categories_

[array([' <=50K.', ' >50K.'], dtype=object)]

In [140]:
# from sklearn.linear_model import LogisticRegression 
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
# from sklearn.ensemble import RandomForestClassifier as Model
# model = Model()

#### Choose the model of your preference: DecisionTree or RandomForest

In [81]:
model = DecisionTreeClassifier(criterion='entropy')

In [141]:
model = RandomForestClassifier()

In [104]:
model.tree_.node_count

11205

In [99]:
list(zip(x.drop(['fnlwgt','salary'], axis=1).columns, model.feature_importances_))

[('age', 0.18221404982257164),
 ('education-num', 0.10891559024878754),
 ('capital-gain', 0.11492095099118314),
 ('capital-loss', 0.038867507954195704),
 ('hours-per-week', 0.0965394491069937),
 ('workclass_ ?', 0.001222835409021079),
 ('workclass_ Federal-gov', 0.006522964847450658),
 ('workclass_ Local-gov', 0.008109981202854706),
 ('workclass_ Never-worked', 0.0),
 ('workclass_ Private', 0.013913668181319803),
 ('workclass_ Self-emp-inc', 0.006660627574565257),
 ('workclass_ Self-emp-not-inc', 0.011047930221304545),
 ('workclass_ State-gov', 0.00626619437440965),
 ('workclass_ Without-pay', 0.0),
 ('education_ 10th', 0.0003974856352069713),
 ('education_ 11th', 0.0005970964874146886),
 ('education_ 12th', 0.0008439282439107033),
 ('education_ 1st-4th', 0.0002345561603009151),
 ('education_ 5th-6th', 0.0006413773835031262),
 ('education_ 7th-8th', 0.0006592703326343089),
 ('education_ 9th', 0.0004802227687193195),
 ('education_ Assoc-acdm', 0.0021698756400622995),
 ('education_ Assoc-voc', 0.0036541945874082084),
 ('education_ Bachelors', 0.002927830083704342),
 ('education_ Doctorate', 0.0005140401230358057),
 ('education_ HS-grad', 0.004784400343349671),
 ('education_ Masters', 0.0034678229345735546),
 ('education_ Preschool', 0.0),
 ('education_ Prof-school', 0.0009025689437242243),
 ('education_ Some-college', 0.004732738729706766),
 ('marital-status_ Divorced', 0.004296974046783692),
 ('marital-status_ Married-AF-spouse', 0.0009614216619341868),
 ('marital-status_ Married-civ-spouse', 0.20601058111243764),
 ('marital-status_ Married-spouse-absent', 0.0015711982665449938),
 ('marital-status_ Never-married', 0.003846218442251378),
 ('marital-status_ Separated', 0.0019125424308143511),
 ('marital-status_ Widowed', 0.0018335078878549426),
 ('occupation_ ?', 0.00153955288642107),
 ('occupation_ Adm-clerical', 0.007388088460184031),
 ('occupation_ Armed-Forces', 0.0),
 ('occupation_ Craft-repair', 0.009761314271788519),
 ('occupation_ Exec-managerial', 0.009982617566477956),
 ('occupation_ Farming-fishing', 0.003442274696781739),
 ('occupation_ Handlers-cleaners', 0.0033214890257051537),
 ('occupation_ Machine-op-inspct', 0.005218363836384085),
 ('occupation_ Other-service', 0.00617818008056137),
 ('occupation_ Priv-house-serv', 2.2596467078195503e-05),
 ('occupation_ Prof-specialty', 0.009364726591081804),
 ('occupation_ Protective-serv', 0.004170624439219895),
 ('occupation_ Sales', 0.009756184497763054),
 ('occupation_ Tech-support', 0.006212697355709362),
 ('occupation_ Transport-moving', 0.006314900405600022),
 ('relationship_ Husband', 0.00272698788366939),
 ('relationship_ Not-in-family', 0.005231972165403878),
 ('relationship_ Other-relative', 0.0014339050822266657),
 ('relationship_ Own-child', 0.0024606282745117994),
 ('relationship_ Unmarried', 0.0022431650958733315),
 ('relationship_ Wife', 0.004804726411287924),
 ('race_ Amer-Indian-Eskimo', 0.0012293321436844364),
 ('race_ Asian-Pac-Islander', 0.00372126079375228),
 ('race_ Black', 0.006177423335739859),
 ('race_ Other', 0.0008139397880237538),
 ('race_ White', 0.006793285339320487),
 ('sex_ Female', 0.004361214089876667),
 ('sex_ Male', 0.005530817945669457),
 ('native-country_ ?', 0.00271675392523322),
 ('native-country_ Cambodia', 0.0003560149269439603),
 ('native-country_ Canada', 0.001129829172657277),
 ('native-country_ China', 0.0004159276766198679),
 ('native-country_ Columbia', 0.00011232404583901435),
 ('native-country_ Cuba', 0.0008532319060929289),
 ('native-country_ Dominican-Republic', 0.0),
 ('native-country_ Ecuador', 0.0),
 ('native-country_ El-Salvador', 0.0),
 ('native-country_ England', 0.0010084304890518245),
 ('native-country_ France', 0.0004357375348967631),
 ('native-country_ Germany', 0.0010706975353205839),
 ('native-country_ Greece', 0.0004617288285465383),
 ('native-country_ Guatemala', 0.0),
 ('native-country_ Haiti', 0.0002397446726881824),
 ('native-country_ Holand-Netherlands', 0.0),
 ('native-country_ Honduras', 0.0),
 ('native-country_ Hong', 0.00016347599549830668),
 ('native-country_ Hungary', 0.00015890707682556567),
 ('native-country_ India', 0.0007363376866167333),
 ('native-country_ Iran', 0.0004668038263076566),
 ('native-country_ Ireland', 0.00026639300249862074),
 ('native-country_ Italy', 0.000629735182538741),
 ('native-country_ Jamaica', 0.0006751683642109213),
 ('native-country_ Japan', 0.0007640080635330013),
 ('native-country_ Laos', 0.00015012678875010995),
 ('native-country_ Mexico', 0.001597754982011945),
 ('native-country_ Nicaragua', 0.00012024133526090281),
 ('native-country_ Outlying-US(Guam-USVI-etc)', 0.0),
 ('native-country_ Peru', 0.0001501439342883508),
 ('native-country_ Philippines', 0.0006541541264356131),
 ('native-country_ Poland', 0.00017017919150715975),
 ('native-country_ Portugal', 0.00018279329175548443),
 ('native-country_ Puerto-Rico', 0.00031813800175511497),
 ('native-country_ Scotland', 0.0),
 ('native-country_ South', 0.000519056400883137),
 ('native-country_ Taiwan', 0.00015172333105917138),
 ('native-country_ Thailand', 0.0003734995712930675),
 ('native-country_ Trinadad&Tobago', 0.00031524968618652945),
 ('native-country_ United-States', 0.009008719518044684),
 ('native-country_ Vietnam', 0.0003405105454331931),
 ('native-country_ Yugoslavia', 0.0004425882730860597)]

In [93]:
x.drop(['fnlwgt','salary'], axis=1).head()

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
0,39,13,2174,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,50,13,0,0,13,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,38,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
3,53,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4,28,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [94]:
model.fit(x.drop(['fnlwgt','salary'], axis=1), x.salary)

DecisionTreeClassifier(class_weight=None, criterion='entropy', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [79]:
set(x.columns) - set(xt.columns)

set()

In [68]:
list(x.drop('salary', axis=1).columns)

Index(['age', 'fnlwgt', 'education-num', 'capital-gain', 'capital-loss',
       'hours-per-week', 'workclass_ ?', 'workclass_ Federal-gov',
       'workclass_ Local-gov', 'workclass_ Never-worked',
       ...
       'native-country_ Portugal', 'native-country_ Puerto-Rico',
       'native-country_ Scotland', 'native-country_ South',
       'native-country_ Taiwan', 'native-country_ Thailand',
       'native-country_ Trinadad&Tobago', 'native-country_ United-States',
       'native-country_ Vietnam', 'native-country_ Yugoslavia'],
      dtype='object', length=108)

In [73]:
xt['native-country_ Holand-Netherlands'] = 0

In [95]:
predictions = model.predict(xt.drop(['fnlwgt','salary'], axis=1))

In [44]:
from sklearn.metrics import (accuracy_score, 
                             classification_report, 
                             confusion_matrix, auc, roc_curve
                            )

In [96]:
accuracy_score(xt.salary, predictions)

0.8152447638351452

In [86]:
confusion_matrix(xt.salary, predictions)

array([[10882,  1553],
       [ 1610,  2236]])

In [97]:
confusion_matrix(xt.salary, predictions)

array([[10952,  1483],
       [ 1525,  2321]])

In [87]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.87      0.88      0.87     12435
         1.0       0.59      0.58      0.59      3846

   micro avg       0.81      0.81      0.81     16281
   macro avg       0.73      0.73      0.73     16281
weighted avg       0.80      0.81      0.81     16281

In [98]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.88      0.88      0.88     12435
         1.0       0.61      0.60      0.61      3846

   micro avg       0.82      0.82      0.82     16281
   macro avg       0.74      0.74      0.74     16281
weighted avg       0.81      0.82      0.81     16281

In [37]:
accuracy_score(x.salary, predictions)

0.7930346119590922

In [38]:
confusion_matrix(x.salary, predictions)

array([[23574,  1146],
       [ 5593,  2248]])

In [81]:
confusion_matrix([0], [1])

array([[0, 1],
       [0, 0]])

In [41]:
print(classification_report(x.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.81      0.95      0.87     24720
         1.0       0.66      0.29      0.40      7841

   micro avg       0.79      0.79      0.79     32561
   macro avg       0.74      0.62      0.64     32561
weighted avg       0.77      0.79      0.76     32561

In [39]:
len(x)

32561

# Now we use test_train_split instead of using the golden test set provided to us

In [106]:
from sklearn.model_selection import train_test_split

In [119]:
x_train, x_test, y_train, y_test = train_test_split(x.drop(['salary', 'fnlwgt'], axis=1),x.salary, test_size=.20)

In [127]:
x.shape, x_train.shape, x_test.shape

((32561, 109), (26048, 107), (6513, 107))

In [142]:
model.fit(x_train, y_train)

/usr/local/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [143]:
test_predictions = model.predict(x_test)

In [144]:
accuracy_score(y_test, test_predictions)

0.8400122831260556

In [145]:
confusion_matrix(y_test, test_predictions)

array([[4526,  404],
       [ 638,  945]])

In [125]:
confusion_matrix(y_test, test_predictions)

array([[4341,  589],
       [ 608,  975]])

In [146]:
print(classification_report(y_test, test_predictions))

              precision    recall  f1-score   support

         0.0       0.88      0.92      0.90      4930
         1.0       0.70      0.60      0.64      1583

   micro avg       0.84      0.84      0.84      6513
   macro avg       0.79      0.76      0.77      6513
weighted avg       0.83      0.84      0.84      6513

In [87]:
print(classification_report(xt.salary, predictions))

              precision    recall  f1-score   support

         0.0       0.87      0.88      0.87     12435
         1.0       0.59      0.58      0.59      3846

   micro avg       0.81      0.81      0.81     16281
   macro avg       0.73      0.73      0.73     16281
weighted avg       0.80      0.81      0.81     16281

# Using cross_validate to perform n-fold validations

In [133]:
from sklearn.model_selection import cross_validate

In [136]:
cross_validate(model, x.drop(['salary', 'fnlwgt'], axis=1), x.salary, cv=10, 
               scoring=['accuracy', 'recall', 'precision'])

/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('train_accuracy'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('train_recall'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)
/usr/local/lib/python3.7/site-packages/sklearn/utils/deprecation.py:125: FutureWarning: You are accessing a training score ('train_precision'), which will not be available by default any more in 0.21. If you need training scores, please set return_train_score=True
  warnings.warn(*warn_args, **warn_kwargs)

{'fit_time': array([0.28343987, 0.25665402, 0.27173281, 0.25761008, 0.25567579,
        0.275244  , 0.25397515, 0.26559615, 0.25830913, 0.24786401]),
 'score_time': array([0.00935125, 0.00814795, 0.01043582, 0.0119679 , 0.01111603,
        0.01147294, 0.01111603, 0.01188684, 0.01194668, 0.01276112]),
 'test_accuracy': array([0.81639546, 0.8264742 , 0.83538084, 0.81019656, 0.82555283,
        0.82708845, 0.82309582, 0.83169533, 0.83599509, 0.82063882]),
 'train_accuracy': array([0.97720448, 0.97822897, 0.97741   , 0.97792186, 0.97693226,
        0.97809248, 0.97758062, 0.97737587, 0.97754649, 0.97768299]),
 'test_recall': array([0.60764331, 0.5994898 , 0.65688776, 0.58035714, 0.62244898,
        0.62244898, 0.60586735, 0.64158163, 0.63392857, 0.64030612]),
 'train_recall': array([0.92020975, 0.92433045, 0.92263001, 0.92092957, 0.9179538 ,
        0.92263001, 0.92390534, 0.92135468, 0.92333853, 0.92390534]),
 'test_precision': array([0.62190352, 0.6518724 , 0.65856777, 0.61155914, 0.64210526,
        0.64635762, 0.64016173, 0.65324675, 0.66801075, 0.62437811]),
 'train_precision': array([0.98408609, 0.98430662, 0.98249585, 0.98649059, 0.98524715,
        0.98546996, 0.98192771, 0.98366112, 0.98236092, 0.98237155])}

In [137]:
test_predictions

array([0., 0., 1., ..., 0., 0., 0.])

In [138]:
x_test

,age,education-num,capital-gain,capital-loss,hours-per-week,workclass_ ?,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Never-worked,workclass_ Private,...,native-country_ Portugal,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia
21511,25,9,0,0,48,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
10123,47,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
11314,63,16,0,1902,50,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
9110,49,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
15132,31,13,13550,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26021,39,13,0,0,60,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22321,47,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
5396,17,7,0,0,25,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
13665,30,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
17125,27,12,3325,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
10377,44,9,0,0,96,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
23091,51,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
7015,49,5,0,0,45,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
6614,34,13,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
7841,28,9,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
11190,18,10,0,0,25,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
24334,32,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
23900,79,9,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
32110,33,9,0,0,60,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
11145,17,6,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
15830,53,9,0,0,52,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
11870,47,10,7298,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
2247,64,9,0,0,40,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
21785,43,10,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
25623,58,9,15024,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6921,48,9,0,0,40,0,0,0,0,1,...,0,0,0,1,0,0,0,0,0,0
31763,39,10,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22170,35,9,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
26975,63,14,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
16275,45,9,0,0,35,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28688,20,10,0,0,40,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4382,49,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
24399,29,13,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
11247,22,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
22047,35,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9524,31,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
7921,29,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
7112,36,13,0,0,60,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
31885,35,10,0,0,30,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
7587,39,9,0,0,55,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
27786,41,8,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
30568,20,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
8258,35,13,0,0,52,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
21843,35,10,0,0,60,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
4007,64,9,0,0,50,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
23209,49,13,15024,0,60,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
22951,71,12,0,0,3,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
29991,35,10,0,0,55,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
13444,46,9,0,0,46,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
20733,24,12,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
15127,51,10,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3360,57,13,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2831,39,10,0,0,48,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
20639,38,9,0,0,40,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
6569,61,11,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
9712,30,7,0,0,40,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
16983,32,9,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
20332,21,7,0,0,40,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,0
26654,55,14,0,0,55,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0
25091,50,14,4650,0,70,0,0,1,0,0,...,0,0,0,0,0,0,0,1,0,0